<h1>All Articles</h1>
<div class="articles">
  <% @articles.each do |article| %>
    <p><%= link_to article.title, article_path(article.id)  %></p>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<% if current_user = nil %>
<%= link_to "Create an account", signup_path %>
<%= link_to "Log in", login_path %>
<% end %>