<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <title>Portfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
  <header> 
    <div id="name">Kathryn Schroeder
      <p>web development and design</p>
    </div>
    <% if current_user %>
      <a href="/projects">Projects</a>
      <a href="/links">Resume</a>
      <a href="/logout">Log Out</a>    
    <% else %>   
      <a href="/projects">Projects</a>
      <a href="/links">About</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    <% end %>
    <div id="clear_float"></div>
  </header>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </div>

<%= yield %>

</body>
</div>
</html>
